<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='theme.js') }}" defer></script>
    <script src="{{ url_for('static', filename='show_password.js') }}"></script>
</head>
<body>

<div class="theme-toggle" id="themeToggle">🌙</div>

<div class="auth-card">
    <h3>Reset Password</h3>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-danger">{{ messages[0] }}</div>
      {% endif %}
    {% endwith %}

    <form method="POST">
        <div style="position:relative">
            <input type="password" id="newpass" name="password" placeholder="New password" required>
            <span style="position:absolute;right:12px;top:10px;cursor:pointer"
                  onclick="togglePassword('newpass', this)">👁️</span>
        </div>

        <div style="position:relative">
            <input type="password" id="confirmnew" placeholder="Confirm password" required>
            <span style="position:absolute;right:12px;top:10px;cursor:pointer"
                  onclick="togglePassword('confirmnew', this)">👁️</span>
        </div>

        <button>Reset Password</button>
    </form>
</div>

</body>
</html>
